html, body{
	height: 100%;
}
.backgroud-wrap {
	width: 100%;
	height: 100%;
	background: #1abc9c;
}

.container-fluid {
	padding: 0 15px;
}
.form-container {
	margin-top: 100px;
	background: #eceff1;
	border: none;
}
	.form-container .form-heading {
		background: #16A085;
		border-color: #16A085; 
	}
	.form-container input {
		border-color: transparent;
	}